<ion-content>
  <div>
    <!-- <ion-card> -->
      <!-- <ion-card-content> -->
      <div class="card">
        <!-- <img class="card-img-top" slot="end" src="../../../../assets/x-png-15.png" 
        style="width:20px;height:20px" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(230, 112, 17) !important;">प्रदर्शन चौकशी </h5>
          <p class="card-text" style="color: rgb(230, 112, 17) !important;"> ग्राहक आयडी : TP12345</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="color: rebeccapurple !important;">क्लायंट नाव : श्री सोनवणे सर</li>
          <li class="list-group-item" style="color: rebeccapurple !important;">प्रस्थान तारीख : 2020-08-12</li>
          <li class="list-group-item" style="color: rebeccapurple !important;">प्रवासी संख्या : 2</li>
          <li class="list-group-item" style="color: rebeccapurple !important;">संकलन स्थान: नाशिक</li>
          <li class="list-group-item" style="color: rebeccapurple !important;">ड्रॉप स्थान: पुणे</li>
        </ul>
        <div class="card-body">
          <ion-button color="primary" shape="round"
            (click)="navigate2res()">स्वीकारा</ion-button>
          <ion-button color="danger" (click)="changeView()"  shape="round"
            (click)="navigate1res()">नाकारणे</ion-button>
        </div>
      </div>
    <!-- </ion-card-content> -->
    <!-- </ion-card> -->
    
  </div>
  
  
</ion-content>


