<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="align" color="danger">
        <b>List of Vehicles Registered</b>
        </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding">

<!-- <h1>List of Vehicles Registered</h1> -->
<table class="rwd-table">
  <tr>
    <th>Car Name</th>
    <th>Car Type</th>
    <th>Year</th>
    <th>Gross</th>
  </tr>
  <tr>
    <td data-th="Car Name  "  >Hyundai Creta</td>
    <td data-th="Genre     "  >Sedan</td>
    <td data-th="Year      "  >2015</td>
    <td data-th="Gross     "  >$460,935,665</td>
  </tr>
  <tr>
    <td data-th="Car Name  "   >Mahindra Xuv 500</td>
    <td data-th="Genre     "   >Luxurious</td>
    <td data-th="Year      "   >2010</td>
    <td data-th="Gross     "   >$16,295,774</td>
  </tr>
  
</table>

<p>&larr; &rarr;</p>

</ion-content>