<!-- 
<ion-header>
    <ion-toolbar class="ion-text-center">
 
      <ion-title color="danger" >
          <ion-buttons slot="start">
              <ion-menu-button style="color: #f04141"></ion-menu-button>
            </ion-buttons>
      <b>GM Cabs</b>
      </ion-title>
      <div style="color:#f04141;font-size: 12px;margin-top: 5px;">
       <span>
         <b>
      < &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monday,&nbsp; Nov 10th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; >
    </b>
        </span> 
       </div>
    </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center" style="margin-right: 2.5rem;" color="danger" >
          <b>GM Cabs</b>
          </ion-title>
          <!-- <div class="ion-text-center" style="color:#f04141;font-size: 12px;margin-top: 5px;margin-right:10px ;">
           <span>
             <b>
          < &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monday,&nbsp; Nov 25th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; >
        </b>
            </span> 
           </div> -->
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding no-scroll" >
 



</ion-content>

