
@font-face{
    font-family: poppins;
    src: url('../assets/fonts/poppins.woff2');
}
*{
    font-family:'poppins' !important;
}
body,span,button,h1,h2,h3,h4,h5,h6,p,ion-item,ion-title{
    font-family: 'poppins';
}



.menu-header-bg{
    height: 180px;
    width:350px;
    background: #d82c16;
    background: linear-gradient(90deg,#e4880f 0%,#cf4826 100%);
    box-shadow: 0px 1px 10px rgba(199, 45, 18, 0.5);
    transform:rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
    position: relative;;
    top:30px;
    left: 15px;
    display:flex;
    align-items: center;
    transform:rotate(15deg);
    img{
        width: 250px;
        height: 220px;
        border: 7px solid 5e7ccc;
    }
}