<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="align" color="danger">
        <b>Sign In</b>
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form id="login-form" class="form" action="" method="post" novalidate [formGroup]="user" >
  <ion-row>
    <ion-col class="ion-text-center">
      <img class="logo" src="../../../../assets/GM-Cab_Final-Logo.png" height="100px" width="100px" />
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -35px;">
      <ion-col class="ion-text-center">
        <h3><b>Gm Cabs</b></h3>
</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
     
      <ion-card>
        <ion-item>

          <ion-input type="Number" placeholder="Mobile Number" formControlName="mob" ></ion-input>

        </ion-item>
      </ion-card>
      <div style="color:#f53d3d" class="error" *ngIf="user.get('mob').hasError('required') && user.get('mob').touched">
        Mobile Number is required
        </div>
        <!-- <div style="color:#f53d3d" class="error" *ngIf="user.get('mob').hasError('maxlength') && user.get('mob').touched">
        Minimum of 10 Digits
        </div> -->
      <!-- <ion-card>
          <ion-item >
  
            <ion-input type="password" placeholder="ओटीपी प्रविष्ट करा" ></ion-input>
  
          </ion-item>
        </ion-card> -->
     
    </ion-col>
   
  </ion-row>
  <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col>
        <div style="text-align: right;margin-right: 10px;">Forgot Password</div>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-4>
  
        <ion-button color="primary" expand="block" (click)="submit()" >
          Sign In
        </ion-button>
      </ion-col>
      <ion-col col-4>
  
        <ion-button color="danger" expand="block" [routerLink]="[ '/main/info' ]">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>

