<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-slides #slides pager="true" (ionSlideDidChange)="ionSlideChange(slides)">

    <ion-slide>
      <img src="../../assets/taxi-app-development-banner.png"  />
        <img src="../../assets/GM-Cab_Final-Logo.png" style="width:10rem; height:10rem"/>
        <h2>Welcome To GM Cabs</h2>
        <p><b></b> </p>
   
    </ion-slide>

    <!-- <ion-slide>
      <img src="../../assets/105421125-drift-car-logo-automotive-logo-design-template.jpg"/>
      <h2>What is</h2>
      <p><b></b> </p>
    </ion-slide> -->

  </ion-slides>
  <!-- <ion-button class="tour-button" click="next('t')">
     Next
  </ion-button> -->
<!-- </div> -->
</ion-content>
